<div class="flex flex-col items-center mx-auto ">
  <h1 class="font-bold text-4xl">About</h1>
  <p class="mr-4"> A person who walked out of his neighbhorhood and came back with an idea of filmmaking.</p>
  <p> We tried making every thing that excited us into films.</p>
  <p class="mr-4"> Currently we are pursuing our passion of god know what it is. </p>
  <p class="mr-4"> We wish to make one good film </p>
  <p class="mr-4"> Meanwhile, we would like to recommend our taste of films. </p>
</div>
