<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-center items-center">
    <h1 class="font-bold text-4xl">Reviews</h1>
  </div>
  <div class="flex justify-end">
    <%= link_to 'New Review', new_review_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>

  </div>

  <div id="reviews" class="min-w-full">
    <div class="w-full flex flex-row">

      <%@reviews.each do |review|%>
        <div  class="flex flex-column">
          <div>
            <h2><%= link_to review.headline, review%></h2>
          </div>
          <div>
            <% if review.film.poster.present? %>
              <h2><%= image_tag review.film.poster%></h2>
            <% end %>  
         </div>
        </div>
      <% end%>
    </div> 
  </div>
</div>